<% if @wiki.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@wiki.errors.count, "error") %>.</h4>
    <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit Wiki</h1>

<div class="row">
    <%= render partial: 'wikis/form' %>
    <br>
    <%= render partial: 'collaborators/collaborator'%>

    <h3> Collaborators: </h3>
    <% @wiki.collaborators.each do |collaborator| %>
      <li><%= collaborator.user.username %></li>
      <% if @wiki.user == current_user && current_user.premium? %>
        <%= link_to "", wiki_collaborator_path(@wiki, collaborator), method: :delete, class: "glyphicon glyphicon-remove"  %>
      <% end %>
    <% end %>
</div>
